<h1>Add Orders</h1>
<br>

<div class="container" style="border:ridge;">
  <form [formGroup]="orderForm">
    <div>
      Name:
        <input type="text" class="text">
      <br>
      Email:
        <input type="email" class="email">
      <br>
      Express:
        <input type="checkbox" class="checkbox">
    </div>
    <br><br>
    <button (click)="addItem()">Add</button>
    <tbody formArrayName="itemArray">
      <tr *ngFor="let item of itemArray.controls" [formGroup]="item">

      </tr>
    </tbody>

  </form>
</div>
